.grid {
    width: 400px;
    height: 600px;
    background-color: #d0f0c0;
    position: relative;
    font-size: 100px;
    text-align: center;
    font-size: 200px;
    text-align: center;
  }

  .doodler {
    width: 60px;
    height: 85px;
    background-color: #F0FFFF;
    position: absolute;
  }

  .platform {
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
  }